::ng-deep.mat-dialog-container {
  background-color: #235D7C;
}

.custom-icon-loading {
  position: absolute;
  font-size: 18px;
  left: 209%;
  top: 23px;
  color: #67757c;
}

.custom-icon-loading-list-tag {
  background: none;
  position: relative;
  left: 400px
}
