<section class="content">
  <div class="container-fluid">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link  "
               href="/product-contract"><i class="fas fa-list"></i> Hợp đồng sản phẩm</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link active"
               href="/product-contract-approval-pending"><i class="fas fa-list"></i>Danh sách chờ duyệt</a>
          </li>
        </ul>
        <form (ngSubmit)="doSearch()">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="input1" class="col-form-label">Tìm kiếm theo mã TP</label>
                    <input [(ngModel)]="contentSearch" type="text" class="form-control form-control-sm" id="input1"
                           placeholder="Nhập từ khóa" name="contentSearch">
                  </div>
                </div>
                <div class="col-6 btn-mt-33">
                  <button (click)="doSearch()" type="button" class="mr-1 btn btn-sm btn-secondary float-right">Tìm kiếm
                  </button>
                  <button type="button" class="mr-1 btn btn-sm btn-outline-info float-right"><i class="fas fa-sync"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h3 class="card-title mb-2">Danh sách  hợp đồng sản phẩm đã duyệt</h3>
            </div>
            <div class="col-6"></div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Tên nhóm hợp đồng</th>
                  <th>Áp dụng cho</th>
                  <th>Ngày áp dụng</th>
                  <th>Mô tả</th>
                  <th>Trạng thái</th>
                  <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let groupContract of groupContracts" class="">
                  <td>{{groupContract.name}}</td>
                  <td>{{groupContract.code}}</td>
                  <td>{{groupContract.description}}</td>
                  <td>{{groupContract.contTemplateDocDto.code}}</td>
                  <td>{{groupContract.appliedDate | date:'dd/MM/yyyy'}}</td>
                  <td>{{groupContract.status === 1 ? 'Đang hoạt đông' : 'Không hoạt động' }}</td>
                  <td>
                    <a class="btn btn-primary btn-xs mr-1" data-toggle="modal"
                       (click)="doSelected(groupContract)" data-target="#modal-update">
                      <i class="far fa-edit"></i>
                    </a>
                    <a (click)="doShowDetailGroupContract(groupContract)" class="btn btn-info btn-xs"
                       data-toggle="modal"
                       data-target="#modal-detail">
                      <i class="fas fa-eye"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <ul *ngIf="groupContracts.length > 0" class="pagination pagination-sm m-0 float-right">
                <ngb-pagination [ellipses]="false" [boundaryLinks]="true" (pageChange)="getPageSymbol($event)"
                                [collectionSize]="groupContracts.length" [(page)]="page" aria-label="Custom pagination">
                  <ng-template>Prev</ng-template>
                  <ng-template>Next</ng-template>
                  <ng-template></ng-template>
                </ngb-pagination>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--<div class="modal fade" id="modal-update" aria-modal="true" role="dialog">-->
<!--  <div class="modal-dialog modal-xl">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Cập nhật nhóm hợp đồng</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">×</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form>-->
<!--        <div class="modal-body">-->

<!--          <div>-->
<!--            <div class="row">-->
<!--              <div class="col-md-6 col-12">-->
<!--                <div class="form-group">-->
<!--                  <label class="col-form-label">Tên nhóm hợp đồng</label>-->
<!--                  <input type="text" class="form-control form-control-sm"-->
<!--                         name="name" [(ngModel)]="groupContractUpdate.name" placeholder="Nhập tên nhóm hợp đồng">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-6 col-12">-->
<!--                <div class="form-group">-->
<!--                  <label class="col-form-label">Ngày áp dụng</label>-->
<!--                  <input class="form-control form-control-sm"-->
<!--                         type="date" [ngModel]="groupContractUpdate.appliedDate | date:'yyyy-MM-dd'"-->
<!--                         name="appliedDate" (ngModelChange)="groupContractUpdate.appliedDate = $event">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-6 col-12">-->
<!--                <div class="form-group">-->
<!--                  <label class="col-form-label">Mã nhóm hợp đồng</label>-->
<!--                  <input [disabled]="true" type="text" class="form-control form-control-sm"-->
<!--                         [(ngModel)]="groupContractUpdate.code" name="description" placeholder="Nhập mã nhóm hợp đồng">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-6 col-12">-->
<!--                <div class="form-group">-->
<!--                  <label class="col-form-label">Tên hợp đồng</label>-->
<!--                  <select class="form-control form-control-sm" name="action"-->
<!--                          [(ngModel)]="groupContractUpdate.templateId">-->
<!--                    <option *ngFor="let templateContract of templateContracts"-->
<!--                            [ngValue]="templateContract.id">{{templateContract.code}}</option>-->
<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-12 col-12">-->
<!--                <div class="form-group">-->
<!--                  <label class="col-form-label">Mô tả</label>-->
<!--                  <textarea [(ngModel)]="groupContractUpdate.description" class="form-control form-control-sm"-->
<!--                            name="description" placeholder="Mô tả"></textarea>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button (click)="doLoadData()" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close-->
<!--          </button>-->
<!--          <button (click)="clear()" type="button" class="btn btn-secondary btn-sm float-right">Clear</button>-->
<!--          <button (click)="doUpdate()" type="button" class="btn btn-primary btn-sm float-right">Cập nhật hợp đồng-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="modal fade" id="modal-detail" aria-modal="true" role="dialog">-->
<!--  <div class="modal-dialog modal-xl">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Chi tiết nhóm hợp đồng </h4>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">×</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <table class="table table-bordered">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Mã hợp đồng</th>-->
<!--            <th>Tên hợp đồng</th>-->
<!--            <th>Active version</th>-->
<!--            <th>Ngày áp dụng</th>-->
<!--            <th>Thao tác</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td>{{groupContractDetail.code}}</td>-->
<!--            <td>{{groupContractDetail.name}}</td>-->
<!--            <td>{{groupContractDetail.contTemplateDocDto.activeVersion}}</td>-->
<!--            <td>{{groupContractDetail.appliedDate}}</td>-->
<!--            <td>-->
<!--              <a (click)="doShowDetailTemplateContract(groupContractDetail.contTemplateDocDto.content)"-->
<!--                 class="btn btn-info btn-xs" data-toggle="modal"-->
<!--                 data-target="#modal-detail-1">-->
<!--                <i class="fas fa-eye"></i>-->
<!--              </a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->

<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>-->


<!--<div class="modal fade" id="modal-detail-1" role="dialog">-->
<!--  <div class="modal-dialog modal-xl">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Chi tiết hợp đồng</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">×</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form>-->
<!--        <div class="modal-body">-->
<!--          <div #divElement></div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    &lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>-->
