<div>
  <p class="font-weight-bold">Thông tin phát hành</p>
</div>
<div>
  <form>
    <div class="form-group row">
      <label for="bonds-name" class="col-sm-2 col-form-label">Tên trái phiếu </label>
      <div class="col-sm-2">
        <input type="text" readonly class="form-control form-control-sm" id="bonds-name">
      </div>
      <label for="organization-reissue" class="col-sm-2 col-form-label">Tổ chức phát hành</label>
      <div class="col-sm-2">
        <select class="form-control form-control-sm" id="organization-reissue">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <label for="bonds-code" class="col-sm-2 col-form-label">Loại trái phiếu</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="bonds-code">
      </div>
    </div>


    <div class="form-group row">
      <label for="bonds-type" class="col-sm-2 col-form-label">Mã trái phiếu</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="bonds-type">
      </div>
      <label for="datepicker" class="col-sm-2 col-form-label">Ngày phát hành</label>
      <div class="col-sm-2">
        <input type="date" [ngModel]="myDate | date:'yyyy-MM-dd'"
               name="datepicker" (ngModelChange)="myDate = $event" class="form-control form-control-sm" id="datepicker">
      </div>
      <label for="inputPassword" class="col-sm-2 col-form-label">Hình thức phát hành</label>
      <div class="col-sm-2">
        <select class="form-control form-control-sm" id="inputPassword">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="listing-code" class="col-sm-2 col-form-label">Mã niêm yết</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="listing-code">
      </div>
      <label for=" date-due" class="col-sm-2 col-form-label">Ngày đáo hạn</label>
      <div class="col-sm-2">
        <input type="date" [ngModel]="myDate | date:'yyyy-MM-dd'"
               name="date-due" (ngModelChange)="myDate = $event" class="form-control form-control-sm" id=" date-due">
      </div>
      <label for="release-purpose" class="col-sm-2 col-form-label">Mục đích phát hành</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="release-purpose">
      </div>
    </div>


    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Mệnh giá </label>
      <div class="col-sm-2">
        <input type="text" readonly class="form-control form-control-sm"  id="price">
      </div>
      <label for="buy-back-before-maturity" class="col-sm-2 col-form-label">Mua lại trước hạn</label>
      <div class="col-sm-2">
        <select class="form-control form-control-sm" id="buy-back-before-maturity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div>
      <p class="font-weight-bold">Bảo lãnh và Tài sản đảm bảo</p>
    </div>

    <div class="form-group row">
      <label for="collateral" class="col-sm-2 col-form-label">Tài sản đảm bảo</label>
      <div class="col-sm-2">
        <select class="form-control" id="collateral">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <label for="information-TSĐB" class="col-sm-2 col-form-label">Thông tin TSĐB</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="information-TSĐB">
      </div>
      <label for="guarantee-unit" class="col-sm-2 col-form-label">Đơn vị bảo lãnh</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="guarantee-unit">
      </div>
    </div>

    <div class="form-group row">
      <label for="guarantee-status" class="col-sm-2 col-form-label">Trạng thái bảo lãnh</label>
      <div class="col-sm-2">
        <select class="form-control form-control-sm" id="guarantee-status">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <label for="total-value-TSĐB" class="col-sm-2 col-form-label">Tổng giá trị TSĐB</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="total-value-TSĐB">
      </div>
      <label for="guarantee-value" class="col-sm-2 col-form-label">Gía trị bảo lãnh</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm" id="guarantee-value">
      </div>
    </div>

    <div>
      <label for="total-value-TSĐB" class="col-sm-3 col-form-label font-weight-bold">Tính lãi và thanh toán</label>
      <button type="button" class="btn btn-primary" (click)="openDialog()">Tính tự động</button>

    </div>

    <div>
      <table class="table" >
        <thead>
        <tr>
          <th scope="col">Kỳ</th>
          <th scope="col">Ngày xác định LS</th>
          <th scope="col">Ngày đầu kỳ coupon</th>
          <th scope="col">Ngày cuối kỳ coupon</th>
          <th scope="col">Ngày chốt danh sách</th>
          <th scope="col">Ngày thành toán</th>
          <th scope="col">LS kỳ</th>
          <th scope="col">LSTS</th>
          <th scope="col">Biện độ</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row" >1</th>
          <td>
            <input type="date" [ngModel]="myDate | date:'yyyy-MM-dd'"
                   name="determined-date" (ngModelChange)="myDate = $event" class="form-control form-control-sm" id="determined-date">
          </td>
          <td>
            <input type="date" [ngModel]="myDate | date:'yyyy-MM-dd'"
                   name="first-day-coupon" (ngModelChange)="myDate = $event" class="form-control form-control-sm" id="first-day-coupon">
          </td>
          <td>
            <input type="date" [ngModel]="myDate | date:'yyyy-MM-dd'"
                   name="end-day-coupon" (ngModelChange)="myDate = $event" class="form-control form-control-sm" id="end-day-coupon">
          </td>
          <td>
            <input type="date" [ngModel]="myDate | date:'yyyy-MM-dd'"
                   name="closing-day-coupon" (ngModelChange)="myDate = $event" class="form-control form-control-sm"
                   id="closing-day-coupon">
          </td>
          <td>
            <input type="date" [ngModel]="myDate | date:'yyyy-MM-dd'"
                   name="LS" (ngModelChange)="myDate = $event" class="form-control form-control-sm" id="LS">
          </td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo1</td>
          <td>
            <a class="table-link danger">
									<span class="fa-stack edit">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
            </a>
            <a class="table-link danger">
									<span class="fa-stack delete">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
            </a>
            <a class="table-link danger">
									<span class="glyphicon glyphicon-send">
									</span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

