<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <span class="brand-text font-weight-light">System name</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/home" (click)="onSidenavClose()" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <!-- thong tin-->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-money-bill-alt"></i>
            <p>
              Thông tin
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/info_issuer" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Tổ chức phát hành
                </p>
              </a>
              <a href="/template-contract" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Lãi suất tham chiếu
                </p>
              </a>
              <a href="/info-customer" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Khách hàng
                </p>
              </a>
              <a href="/system-param" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Đại lý
                </p>
              </a>
              <a href="/primary-product" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Sản phẩm sơ câp
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-money-bill-alt"></i>
            <p>
              Sản phẩm
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/policies-product" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Chính sách và sản phẩm
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/financial-products" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Sản phẩm chính
                </p>
              </a>
            </li>


          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/template-contract" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Hợp đồng và thông báo
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/template-contract" class="nav-link">
                    <i class="nav-icon fas fa-file-contract"></i>
                    <p>
                      Hợp đồng mẫu
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/group-contract" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                      Nhóm hợp đồng
                    </p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="/product-contract" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                      Hợp đồng và sản phẩm
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/form-notification" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                      Thông báo mẫu
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/contract-param" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                      Tham số hợp đồng
                    </p>
                  </a>
                </li>

              </ul>
            </li>


          </ul>

          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/product-attributes" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Thuộc tính sản phẩm
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/product-attributes-approved-rules" class="nav-link">
                    <i class="nav-icon fas fa-file-contract"></i>
                    <p>
                      Quy tắc áp dụng
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/prop-variable" class="nav-link">
                    <i class="nav-icon fas fa-file-contract"></i>
                    <p>
                      Thuộc tính
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/prop-variable" class="nav-link">
                    <i class="nav-icon fas fa-file-contract"></i>
                    <p>
                      Áp dụng thuộc tính
                    </p>
                  </a>
                </li>

              </ul>
            </li>
          </ul>
        </li>

        <!--             hệ thống-->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-money-bill-alt"></i>
            <p>
              Hệ thống
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/template-contract" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Người dùng
                </p>
              </a>
              <a href="/template-contract" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Phân quyền hệ thống
                </p>
              </a>
              <a href="/template-contract" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Ngày nghỉ lễ
                </p>
              </a>
              <a href="/system-param" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                  Tham số hệ thống
                </p>
              </a>
            </li>
          </ul>
        </li>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
