<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <app-breadcrumb></app-breadcrumb>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<!--  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">-->
<!--    <mat-tab label="ADMIN">-->
<!--      <app-original-bonds></app-original-bonds>-->
<!--    </mat-tab>-->
<!--    <mat-tab label="User">-->
<!--      <p>We will </p>-->
<!--    </mat-tab>-->
<!--    <mat-tab label="OWNER">-->
<!--      <p>By using material components,.</p>-->
<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
<!--</section>-->
<div style="width: 100%; height: auto;">
  <router-outlet></router-outlet>
</div>



