<div mat-dialog-title class="d-flex align-items-center justify-content-center text-primary font-16">
 <span class="mr-1">
    <i class="far fa-check-circle"></i>
  </span>
  {{data?.title || 'title'  }}
</div>
<div mat-dialog-content>
  <p class="text-center font-16 m-0" *ngIf="!data?.innerHTML">{{data?.message || 'Message'  }}</p>
  <p class="text-center font-16 m-0" *ngIf="data?.innerHTML" [innerHTML]="data?.innerHTML"></p>
</div >
<div mat-dialog-actions align="end" class="px-2">
  <button mat-button class="bg-warning text-white" (click)="onClose()">{{ 'Close'   }}</button>
</div>
