<section class="content">
  <div class="container-fluid">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link  "
               href="/info_issuer"><i class="fas fa-list"></i> Danh sách đã duyệt</a>
          </li>
        </ul>
        <form (ngSubmit)="doSearch()">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="row">
                <div class="col-3">
                  <label class="col-form-label">Mã TCPH </label>
                </div>
                <div class="col-3">
                  <label class="col-form-label">Tên TCPH</label>
                </div>
                <div class="col-3">
                  <label class="col-form-label">Số ĐKKD</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <input [(ngModel)]="codeSearch" type="text" class="form-control form-control-sm"
                               placeholder="Nhập từ khóa" name="contentSearch">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <input [(ngModel)]="nameSearch" type="text" class="form-control form-control-sm"
                               placeholder="Nhập từ khóa" name="nameSearch">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <input [(ngModel)]="businessSector" type="text" class="form-control form-control-sm"
                               placeholder="Nhập từ khóa" name="businessSector">
                      </div>
                    </div>

                    <div class="col-3 btn-mt-33">
                      <button type="button" class="mr-1 btn btn-sm btn-info float-right"
                              data-toggle="modal"
                              data-target="#modal-add">Thêm mới
                      </button>
                      <button (click)="doSearch()" type="button" class="mr-1 btn btn-sm btn-secondary float-right">Tìm
                        kiếm
                      </button>
                      <button type="button" class="mr-1 btn btn-sm btn-outline-info float-right" (click)="clear()">
                        Clear
                      </button>
                      <button type="button" class="mr-1 btn btn-sm btn-outline-info float-right"><i
                        class="fas fa-sync"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h3 class="card-title mb-2">Danh sách TCPH</h3>
            </div>
            <div class="col-6"></div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên tổ chức phát hành</th>
                  <th>SỐ ĐKKD</th>
                  <th>Nhóm Tập đoàn</th>
                  <th>Trạng thái</th>
                  <th>Trái phiếu phát hành</th>
                  <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let issuer of lstIssuer ; index as i" class="">
                  <td>{{i + 1}}</td>
                  <td><a href="">{{issuer.name}}</a></td>
                  <td>{{issuer.businessNumber}}</td>
                  <td>{{getBusinessName(issuer.id)}}</td>
                  <td *ngIf="issuer.active == 1 ">Hoạt động</td>
                  <td *ngIf="!(issuer.active == 1)"> Không hoạt động</td>
                  <td><a href="">Danh sách</a></td>
                  <td>
                    <a (click)="doSelectRecodeUpdate(issuer)" class="btn btn-primary btn-xs mr-1"
                       data-toggle="modal"
                       data-target="#modal-update">
                      <i class="far fa-edit"></i>
                    </a>
                    <a (click)="doDelete(issuer)" class="btn btn-info btn-xs  mr-1" data-toggle="modal"
                       data-target="#modal-delete">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <ul *ngIf="lstIssuer != null && lstIssuer.length > 0" class="pagination pagination-sm m-0 float-right">
                <ngb-pagination [ellipses]="false" [boundaryLinks]="true" (pageChange)="getPageSymbol($event)"
                                [collectionSize]="lstIssuer.length" [(page)]="page" aria-label="Custom pagination">
                  <ng-template>Prev</ng-template>
                  <ng-template>Next</ng-template>
                  <ng-template></ng-template>
                </ngb-pagination>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="modal-add" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông tin Tổ chức phát hành</h4>
        <button (click)="doLoadData()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form [formGroup]="issuerAdd">
        <div class="modal-body" formGroupName="issuer">

          <div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Mã TCPH*</label>
                  <input formControlName="code" type="text" class="form-control form-control-sm"
                         name="name" placeholder="Mã TCPH*">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Tên TCPHss</label>
                  <input formControlName="name" type="text" class="form-control form-control-sm"
                         name="name" placeholder="Tên TCPHss">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Số đăng kí kinh doanh</label>
                  <input formControlName="businessNumber" type="text" class="form-control form-control-sm"
                         name="description" placeholder="Số đăng kí kinh doanh">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Email</label>
                  <input formControlName="email" type="text" class="form-control form-control-sm"
                         name="description" placeholder="Email">
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Ngành nghề</label>
                  <input formControlName="businessSector" type="text" class="form-control form-control-sm"
                         name="businessSector" placeholder="Ngành nghề">
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Nhóm TCPH</label>
                  <select formControlName="businessGroupId" class="form-control form-control-sm">
                    <option [ngValue]="business.id" *ngFor="let  business of businessGroup">{{business.name}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Trạng thái</label>
                  <select formControlName="active" class="form-control form-control-sm">
                    <option value="1">Đang hoạt động</option>
                    <option value="0">Tạm dừng hoạt động</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button (click)="doLoadData()" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close
          </button>
          <button (click)="clear()" type="button" class="btn btn-secondary btn-sm float-right">Clear</button>
          <button (click)="doCreate()" type="button" class="btn btn-primary btn-sm float-right">Thêm mới
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-update" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông tin Tổ chức phát hành</h4>
        <!--        <button (click)="doLoadData()" type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--          <span aria-hidden="true">×</span>-->
        <!--        </button>-->
      </div>
      <form [formGroup]="issuerUpdate">
        <div class="modal-body" formGroupName="issuer">

          <div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Mã TCPH*</label>
                  <input formControlName="code" type="text" class="form-control form-control-sm"
                         name="name" placeholder="Mã TCPH*">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Tên TCPHss</label>
                  <input formControlName="name" type="text" class="form-control form-control-sm"
                         name="name" placeholder="Tên TCPHss">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Số đăng kí kinh doanh</label>
                  <input formControlName="businessNumber" type="text" class="form-control form-control-sm"
                         name="description" placeholder="Số đăng kí kinh doanh">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Email</label>
                  <input formControlName="email" type="text" class="form-control form-control-sm"
                         name="description" placeholder="Email">
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Ngành nghề</label>
                  <input formControlName="businessSector" type="text" class="form-control form-control-sm"
                         name="businessSector" placeholder="Ngành nghề">
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Nhóm TCPH</label>
                  <select formControlName="businessGroupId" class="form-control form-control-sm">
                    <option [value]="group.id" *ngFor="let group of businessGroup">{{group.name}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="col-form-label">Trạng thái</label>
                  <select formControlName="active" class="form-control form-control-sm">
                    <option value="1">Đang hoạt động</option>
                    <option value="0">Tạm dừng hoạt động</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button (click)="doLoadData()" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close
          </button>
          <button (click)="clear()" type="button" class="btn btn-secondary btn-sm float-right">Clear</button>
          <button (click)="doUpdate()" type="button" class="btn btn-primary btn-sm float-right">Cập nhập
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>






