<section class="content">
  <div class="container-fluid">
    <div class="card card-primary card-outline">
      <form action="">
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link"
               href=""><i class="fas fa-list"></i> Danh sách đã duyệt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href=""><i class="fas fa-list"></i> Danh sách chờ duyệt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"
               href="">Thêm mới <i class="fas fa-times"></i></a>
          </li>
        </ul>

        <div class="row mt-3">
          <div class="col-6">
            <h3 class="card-title mb-2">Thêm mới quy tắc áp dụng</h3>
          </div>
          <div class="col-6"></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 col-12">
            <div class="form-horizontal">
              <div class="card-body">
                <div class="form-group row">
                  <label for="ip1" class="col-sm-2 col-form-label">Tên quy tắc</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="ip1" placeholder="Nhập tên quy tắc">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ip2" class="col-sm-2 col-form-label">Mã quy tắc</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="ip2" placeholder="Nhập mã quy tắc">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ip3" class="col-sm-2 col-form-label">Mô tả</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="ip3" placeholder="Nhập mô tả">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ip4" class="col-sm-2 col-form-label">Điều kiện</label>
                  <div class="col-sm-10">
                    <select class="form-control form-control-sm" id="ip4">
                      <option>Áp dụng đồng thời các điều kiện</option>
                      <option>Áp dụng theo thứ tự ưu tiên</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <h6 class="text-bold mb-2">Áp dụng cho</h6>
            <table class="table table-bordered table-center mb-2">
              <thead>
              <tr>
                <th style="width: 44%;text-align: center;">Nhóm</th>
                <th style="width: 44%;text-align: center;">Giá trị</th>
                <th style="width: 80px;text-align: center;">Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                    <select class="form-control form-control-sm">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                </td>
                <td>
                    <select class="form-control form-control-sm">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                </td>
                <td class="ct-center">
                  <button class="btn btn-xs btn-outline-danger"><i class="fas fa-times"></i></button>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                </td>
                <td class="ct-center">
                  <button class="btn btn-xs btn-outline-success"><i class="fas fa-plus"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="table table-bordered table-center mb-2">
              <thead>
              <tr>
                <th style="width: 44%;text-align: center;">STT</th>
                <th style="width: 44%;text-align: center;">Nhóm</th>
                <th style="width: 80px;text-align: center;">Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="ct-center">
                  1
                </td>
                <td>
                  <select class="form-control form-control-sm">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </td>
                <td class="ct-center">
                  <button class="btn btn-xs btn-outline-danger"><i class="fas fa-times"></i></button>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                </td>
                <td class="ct-center">
                  <button class="btn btn-xs btn-outline-success"><i class="fas fa-plus"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer btn-center">
        <button type="submit" class="btn btn-info btn-sm mr-1">Thêm</button>
        <button type="submit" class="btn btn-default btn-sm ml-1">Hủy</button>
      </div>
      <!-- /.card-footer -->
      </form>
    </div>
  </div>
</section>
