<section *ngIf="!isHidden" class="content">
  <div class="container-fluid">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active "
               href="/policies-product"><i class="fas fa-list"></i> Danh sách đã duyệt</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link "
               href="/policies-product-pending-approval"><i class="fas fa-list"></i> Danh sách chờ duyệt</a>
          </li>
        </ul>
        <form>
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="row">
                <div class="col-3">
                  <label class="col-form-label">Sản phẩm</label>
                </div>
                <div class="col-2">
                  <label class="col-form-label">GD thứ cấp</label>
                </div>
                <div class="col-2">
                  <label class="col-form-label">Disscout</label>
                </div>
                <div class="col-2">
                  <label class="col-form-label">Cầm cố</label>
                </div>
                <div class="col-3">
                  <label class="col-form-label">Phong tảo hàng khi bán</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <input [(ngModel)]="contentSearch.name" type="text" class="form-control form-control-sm"
                               placeholder="Nhập từ khóa" name="contentSearch">
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <select [(ngModel)]="contentSearch.transfer" class="form-control form-control-sm" name="action">
                          <option [value]="1">Có</option>
                          <option [value]="0">Không</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <select [(ngModel)]="contentSearch.discount" class="form-control form-control-sm" name="action">
                          <option [value]="1">Có</option>
                          <option [value]="0">Không</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <select  [(ngModel)]="contentSearch.mortgage" class="form-control form-control-sm" name="action">
                          <option   [value]="1">Có</option>
                          <option [value]="0">Không</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select [(ngModel)]="contentSearch.holdAsset" class="form-control form-control-sm" name="action">
                          <option [value]="1">Có</option>
                          <option [value]="0">Không</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-12">
              <div class="row">
                <div class="col-3">
                  <label class="col-form-label">Ngày tạo</label>
                </div>
                <div class="col-2">
                  <label class="col-form-label">Thời gian nắm giỮ tối thiểu</label>
                </div>
                <div class="col-2">
                  <label class="col-form-label">Phong tỏa tiền khi mua</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group" [(ngModel)]="contentSearch.createdDate">
                        <input type="text" class="form-control form-control-sm" id="input1"
                               placeholder="Nhập từ khóa" name="contentSearch">
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <select  [(ngModel)]="contentSearch.holdPeriod" class="form-control form-control-sm" name="action">
                          <option [value]="month" *ngFor="let month of month">{{month + 'tháng'}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <select  [(ngModel)]="contentSearch.holdAsset" class="form-control form-control-sm" name="action">
                          <option [value]="1">Yes</option>
                          <option [value]="0">No</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2 btn-mt-33"></div>
                    <div class="col-3 btn-mt-33">
                      <button type="button" class="mr-1 btn btn-sm btn-secondary float-right">Tìm
                        kiếm
                      </button>
                      <button type="button" class="mr-1 btn btn-sm btn-outline-info float-right">
                        Clear
                      </button>
                      <button type="button" class="mr-1 btn btn-sm btn-outline-info float-right"><i
                        class="fas fa-sync"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-6">
              <h3 class="card-title mb-2">Danh sách chính sách</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Tên cấu trcus</th>
                  <th>Cam kết mua lại</th>
                  <th>GD thứ cấp</th>
                  <th>Cầm cố</th>
                  <th>Thời gian nắm giữ tối thiểu</th>
                  <th>Phong tỏa tiền khi mua</th>
                  <th>Ngày tạo</th>
                  <th>Trạng thái</th>
                  <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let policesProduct of policiesProductS ; index as i" class="border border-dark">
                  <td>{{i + 1}}</td>
                  <td>{{policesProduct.name}}</td>
                  <td>{{policesProduct.repurchase}}</td>
                  <td>{{policesProduct.transfer}}</td>
                  <td>{{policesProduct.discountRate}}</td>
                  <td>{{policesProduct.holdingPeriod}}</td>
                  <td>{{policesProduct.discountRate}}</td>
                  <td>{{policesProduct.holdMoney }}</td>
                  <td>{{policesProduct.holdAsset}}</td>
                  <td>{{policesProduct.createdDate }}</td>
                  <td *ngIf="policesProduct.status == 2 && policesProduct != null">Từ chối</td>
                  <td *ngIf="policesProduct.status == 3 && policesProduct != null">Bản nháp</td>
                  <td *ngIf="policesProduct.status == 0 && policesProduct != null">Chờ phê duyệt</td>
                  <td *ngIf="policesProduct.status == 4 && policesProduct != null">Đã xóa</td>
                  <td *ngIf="policesProduct.status == 1 && policesProduct != null">Đã phê duyệt</td>
                  <td>
                    <a  (click)="doSelectRecord(policesProduct)" class="btn btn-primary btn-xs mr-1"
                        data-toggle="modal"
                        data-target="#modal-update">
                      <i class="far fa-edit"></i>
                    </a>
                    <a   (click)="doDelete(policesProduct)" class="btn btn-info btn-xs  mr-1" data-toggle="modal"
                         data-target="#modal-delete">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <a   (click)="doCreateApproval(policesProduct)" class="btn btn-info btn-xs mr-1" data-toggle="modal">
                      <i class="fa fa-check-square" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <ul *ngIf="policiesProductS.length > 0" class="pagination pagination-sm m-0 float-right">
                <ngb-pagination [ellipses]="false" [boundaryLinks]="true" (pageChange)="getPageSymbol($event)"
                                [collectionSize]="policiesProductS.length" [(page)]="page" aria-label="Custom pagination">
                  <ng-template>Prev</ng-template>
                  <ng-template>Next</ng-template>
                  <ng-template></ng-template>
                </ngb-pagination>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>




<!--add-->
<section *ngIf="isHidden" class="content">
  <div class="container-fluid">
    <div class="card card-primary card-outline">
      <form [formGroup]="policiesProductNew">
        <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link"
                 href=""><i class="fas fa-list"></i> Danh sách đã duyệt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href=""><i class="fas fa-list"></i> Danh sách chờ duyệt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"
                 href="">Thêm mới <i class="fas fa-times"></i></a>
            </li>
          </ul>

          <div class="row mt-3">
            <div class="col-6">
              <h3 class="card-title mb-2">Thêm mới chính sách sản phẩm</h3>
            </div>
            <div class="col-6"></div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="col-form-label">Tên chính sách sản phẩm</label>
              <input formControlName="name" type="text" class="form-control border border-dark"
                     name="name" placeholder="Nhập tên hợp đồng">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="col-form-label">Mã chính sách sản phẩm</label>
              <input  formControlName="code" type="text" class="form-control border border-dark"
                     name="name" placeholder="Nhập chinh sách sản phẩm">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label class="col-form-label">Cam kết</label>
            </div>
            <div class="col-6">
              <label class="col-form-label">Được cầm cố trái phiếu</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cam kết mua lại sau </label>
            <div class="col-sm-3">
                <select formControlName="repurchase" class="form-control form-control-sm" name="action">
                  <option [value]="month"  *ngFor="let month of month">{{month + 'tháng'}}</option>
                </select>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <mat-radio-group formControlName="mortgage"  aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="0">no </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>


          <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
              <label  class="col-form-label">Được giao dịch trên sàn thứ cấp</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <input  formControlName="repurchase" type="checkbox">
              <label  class="col-sm-2 col-form-label">Không cam kết mua lại </label>
            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <mat-radio-group  aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="0">no </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="row">
            <label class="col-form-label">Chính sách discount</label>
          </div>
          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
              <label class="col-form-label">Phong tỏa khi mua</label>
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Có ưu đãi với tỉ lệ </label>
            <div class="col-sm-3">
              <input formControlName="discountRate" type="text">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <mat-radio-group formControlName="holdMoney"  aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="0">no </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <label  class="col-sm-2 col-form-label">Không có ưu đãi</label>
          <div class="col-sm-3">
            <input formControlName="discountRate" type="checkbox">
          </div>


          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">Phong tỏa khi bán
              <label class="col-form-label">Phong tỏa khi bán</label>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label"> Thời gian nắm giữ tối thiểu</label>
            <div class="col-sm-3">
              <select formControlName="holdingPeriod" class="form-control border border-dark" >
                <option [value]="month" *ngFor="let month of month">{{month + 'tháng'}}</option>
              </select>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-2">
              <mat-radio-group formControlName="holdAsset"  aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="0">no </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>


          <!-- /.card-body -->
          <div class="card-footer btn-center">
            <button (click)="doCreateApprovalPending()" type="submit" class="btn btn-info btn-sm mr-1">Thêm</button>
            <button (click)="actionCreate()" type="submit" class="btn btn-default btn-sm ml-1">Hủy</button>
          </div><!-- /.card-footer -->
        </div><!-- /.card-footer -->
      </form>
    </div>
  </div>
</section>




<div class="modal fade" id="modal-update" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form [formGroup]="policiesProductUpdate">
        <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link"
                 href=""><i class="fas fa-list"></i> Danh sách đã duyệt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href=""><i class="fas fa-list"></i> Danh sách chờ duyệt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"
                 href="">Thêm mới <i class="fas fa-times"></i></a>
            </li>
          </ul>

          <div class="row mt-3">
            <div class="col-6">
              <h3 class="card-title mb-2">Thêm mới chính sách sản phẩm</h3>
            </div>
            <div class="col-6"></div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="col-form-label">Tên chính sách sản phẩm</label>
              <input formControlName="name" type="text" class="form-control border border-dark"
                     name="name" placeholder="Nhập tên hợp đồng">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="col-form-label">Mã chính sách sản phẩm</label>
              <input  formControlName="code" type="text" class="form-control border border-dark"
                      name="name" placeholder="Nhập chinh sách sản phẩm">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label class="col-form-label">Cam kết</label>
            </div>
            <div class="col-6">
              <label class="col-form-label">Được cầm cố trái phiếu</label>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Cam kết mua lại sau </label>
            <div class="col-sm-3">
              <select formControlName="repurchase" class="form-control form-control-sm" name="action">
                <option [value]="month"  *ngFor="let month of month">{{month + 'tháng'}}</option>
              </select>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <mat-radio-group formControlName="mortgage"  aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="0">no </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>


          <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
              <label  class="col-form-label">Được giao dịch trên sàn thứ cấp</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <input  formControlName="repurchase" type="checkbox">
              <label  class="col-sm-2 col-form-label">Không cam kết mua lại </label>
            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <mat-radio-group  aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="0">no </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="row">
            <label class="col-form-label">Chính sách discount</label>
          </div>
          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
              <label class="col-form-label">Phong tỏa khi mua</label>
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Có ưu đãi với tỉ lệ </label>
            <div class="col-sm-3">
              <input formControlName="discountRate" type="text">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <mat-radio-group formControlName="holdMoney"  aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="0">no </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <label  class="col-sm-2 col-form-label">Không có ưu đãi</label>
          <div class="col-sm-3">
            <input formControlName="discountRate" type="checkbox">
          </div>


          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">Phong tỏa khi bán
              <label class="col-form-label">Phong tỏa khi bán</label>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label"> Thời gian nắm giữ tối thiểu</label>
            <div class="col-sm-3">
              <select formControlName="holdingPeriod" class="form-control border border-dark" id="organization-reissue">
                <option [value]="month" *ngFor="let month of month">{{month + 'tháng'}}</option>
              </select>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-2">
              <mat-radio-group formControlName="holdAsset"  aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="0">no </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>


          <!-- /.card-body -->
          <div class="card-footer btn-center">
            <button (click)="doCreateApprovalPending()" type="submit" class="btn btn-info btn-sm mr-1">Thêm</button>
            <button (click)="actionCreate()" type="submit" class="btn btn-default btn-sm ml-1">Hủy</button>
          </div><!-- /.card-footer -->
        </div><!-- /.card-footer -->
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

