<section class="content">
  <div class="container-fluid">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-list"></i>
          Danh sách template hợp đồng
        </h3>
      </div>
      <form (ngSubmit)="doSearch()">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12">
              <h4>Tìm kiếm</h4>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="input1" class="col-form-label">Mã hợp đồng</label>
                    <input [(ngModel)]="contentSearch" type="text" class="form-control border border-dark" id="input1" placeholder="Nhập mã hợp đồng" name="contentSearch">
                  </div>
                </div>
                <div class="col-6 btn-mt-33">
                  <button (click)="doCreate()" type="button" class="mr-1 btn btn-info float-right">Thêm mới</button>
                  <button type="button" class="mr-1 btn btn-secondary float-right" (click)="doSearch()">Tìm kiếm</button>
                  <button type="button" class="mr-1 btn btn-outline-info float-right" (click)="clear()">Clear</button>
                  <button type="button" class="mr-1 btn btn-outline-info float-right"><i class="fas fa-sync"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12 col-12">
              <h3 class="font-weight-bold">Danh sách template hợp đồng</h3>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Mã HĐ</th>
                  <th>Tên HĐ</th>
                  <th>Mô tả</th>
                  <th>Active verson</th>
                  <th>Ngày áp dụng</th>
                  <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let templateContract of templateContracts" class="border border-dark">
                  <td class="border border-dark">{{templateContract.code}}</td>
                  <td class="border border-dark">{{templateContract.name}}</td>
                  <td class="border border-dark">{{templateContract.description}}</td>
                  <td class="border border-dark">{{templateContract.activeVersion}}</td>
                  <td class="border border-dark">{{templateContract.updateDate | date:'dd/MM/yyyy'}}</td>
                  <td class="border border-dark">
                    <a (click)="doUpdate(templateContracts)" class="table-link danger" >
									<span class="fa-stack edit">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                    </a>
                    <a (click)="doShowDetail(templateContracts)">
                      <span style=" margin-left: 34px;position: relative;top: 5px;"  class="material-icons">visibility</span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-right">
            <ngb-pagination [ellipses]="false" [boundaryLinks]="true" (pageChange)="getPageSymbol($event)" [collectionSize]="30" [(page)]="page" aria-label="Custom pagination">
              <ng-template >Prev</ng-template>
              <ng-template >Next</ng-template>
              <ng-template ></ng-template>
            </ngb-pagination>
          </ul>
        </div>



      </form>
      <!-- /.card -->
    </div>
  </div>
</section>
