[mat-dialog-title] {
  margin-top: -16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

[mat-dialog-content] {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 115px;

  p {
    color: black;
  }
}

[mat-dialog-actions] {
  padding: 20px;

  button {
    line-height: 30px;
  }
}
