
<div class="main-container">
  <div class="text-center">
    <h4>CHI TIẾT TEMPLATE HỢP ĐỒNG </h4>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 text-center">MÃ HỢP ĐỒNG </label>
    <label class="col-sm-6 text-center"> {{templateContract.code}} </label>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 text-center">TÊN HỢP ĐỒNG </label>
    <label class="col-sm-6 text-center"> {{templateContract.name}} </label>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 text-center">MÔ TẢ</label>
    <label class="col-sm-6 text-center"> {{templateContract.description}} </label>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 text-center">Active version </label>
    <label class="col-sm-6 text-center"> {{templateContract.activeVersion}} </label>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 text-center">Ngày áp dụng </label>
    <label class="col-sm-6 text-center"> {{templateContract.createDate| date:'dd/MM/yyyy'}} </label>
  </div>


</div>
