@for $i from 1 through 100 {
    .h-#{$i} {
        height: percentage($i/100) !important
    }
    .w-#{$i} {
        width: percentage($i/100) !important
    }
    .flex-#{$i} {
        flex: $i !important
    }
}